body {
  font-family: sans-serif, cursive;
  text-align: center;
  background-color: gray;
  align-items: center;
}

h1 {
  margin-top: 20px;
  text-transform: uppercase;
  color: lawngreen;
  font-family: sans-serif, cursive;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin: 50px auto;
  width: 320px;
  position: relative;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: hotpink;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
}

button {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.5em;
  cursor: pointer;
  background-color: transparent;
  color: lawngreen;
  border: lawngreen 1px solid;
}

#game-over-grid {
  align-items: center;
  border: hotpink 8px solid;
  padding: 50px;
  width: 20%;
  margin: auto;
  display: flex;
}

h2 {
  color: lawngreen;
  font-size: 3em;
  margin-top: 0px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
